### Build artifacts ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin/

### Java ###
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

### Maven ###
target/

### Spring Boot Config (exclude all) ###
application*.yml
application*.yaml
application.properties

### OS Files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Credentials / Secrets ###
credentials.json
.env

### Assets ###
images/**

### Deploy scripts ###
deploy.sh

### Helper Docs ###
HELP.md
